<form name="input" action="#" method="post">
	<ul class="menu-list">
		<li class="">
			<input type="text" name="movieName">
		</li>
		<li class="">
			<input type="submit" name="searchMovie" value="Search a movie">
		</li>
	</ul>
</form>