{% for movie in movies %}
<ul class="">
		<li class="">
			{{ movie.title }}
		</li>
		<li class="">
			{{ movie.date }}
		</li>
		<li class="">
			{{ movie.description }}
		</li>
		<li class="">
			<a href="">Acheter</a>
		</li>
		<li class="">
			<a href="">Louer</a>
		</li>
		<li class="">
			<a href="">Offrir</a>
		</li>
</ul>
{% endfor %}