<form name="input" action="#" method="post">
	<input type="hidden" name="id-customer" value="{% block valueId %}{% endblock %}">
	<ul class="menu-list">
		<li class="">
			<input type="text" name="lastname" {% block valueLastname %}{% endblock %} placeholder="Nom">
		</li>
		<li class="">
			<input type="text" name="firstname" {% block valueFirstname %}{% endblock %} placeholder="Prénom">
		</li>
		<li class="">
			{% block valueMailAddress %}{% endblock %}
		</li>
		<li class="">
			<input type="text" name="login" {% block valueLogin %} {% endblock %} placeholder="Login">
		</li>
		{% block password %}
		{% endblock %}
		<li class="">
			<input type="text" name="credit" {% block currentCredit %} {% endblock %} placeholder="Montant à créditer">
		</li>
		{% block submit %} {% endblock %}
	</ul>
</form>