{% extends 'common/signed-in-menu.twig' %}
{% block menuItems %}
	<li class="signed-in-menu-item">
		<a href="index.php?search-customer" class="menu-link"> Rechercher un utilisateur </a> &#xb7;
	</li>
	<li class="signed-in-menu-item">
		<a href="index.php?search-movie" class="menu-link"> Rechercher un film </a> &#xb7;
	</li>
	<li class="signed-in-menu-item">
		<a href="index.php?update-profile" class="menu-link"> Modifier mes infos personnelles </a>
	</li>
{% endblock %}