{% extends "admin/update-customer-data-form.twig" %}
{% block password %}
	<li class="">
		<input type="password" name="oldPassword" placeholder="Ancien de passe">
	</li>
	<li class="">
		<input type="password" name="newPassword" placeholder="Nouveau mot de passe">
	</li>
	<li class="">
		<input type="password" name="newPasswordConfirm" placeholder="Confirmer nouveau mot de passe">
	</li>
{% endblock %}