<form name="input" action="#" method="post">
	<ul class="menu-list">
		<li class="">
			<input type="text" name="customerLogin">
		</li>
		<li class="">
			<input type="submit" name="searchCustomer" value="Search a customer">
		</li>
	</ul>
</form>