{% extends "customer/customer-information-form.twig" %}
{% block passwordLabel %} Mot de passe : {% endblock %}
{% block confirmPasswordLabel %} Confirmer mot de passe : {% endblock %}
{% block submit %} 
	<li class="">
		<input type="submit" name="sign-up" value="Submit">
	</li>
{% endblock %}