{% extends "customer/customer-information-form.twig" %}
placeholder="Nom
placeholder="Prénom"
placeholder="Adresse mail"
placeholder="Login"
placeholder="Montant à créditer"
{% block password %} 
	<li class=""> 
		<input type="password" name="password" placeholder="Mot de passe">
	</li>

	<li class=""> 
		<input type="password" name="confirm-password" placeholder="Confirmer mot de passe">
	</li>
{% endblock %}

{% block submit %} 
	<li class="">
		<input type="submit" name="sign-up" value="Submit">
	</li>
{% endblock %}