{% extends "customer/customer-information-form.twig" %}
{% block valueMailAddress %} 
	<li>
		<input type="text" name="mail-address" placeholder="Email">
	</li>
{% endblock %}
{% block password %} 
	<li class=""> 
		<input type="password" name="password" placeholder="Mot de passe">
	</li>

	<li class=""> 
		<input type="password" name="confirm-password" placeholder="Confirmer mot de passe">
	</li>
{% endblock %}

{% block submit %} 
	<li class="">
		<input type="submit" name="sign-up" value="Submit">
	</li>
{% endblock %}