<form name="input" action="#" method="post">
	<ul class="">
		<li class="">
			Titre : <input type="text" name="title">
		</li>
		<li class="">
			Date de sortie : <input type="text" name="day" value="jj"><input type="text" name="month" value="mm"><input type="text" name="year" value="aaaa">
		</li>
		<li class="">
			description : <textarea name="description"></textarea>
		</li>
		<li class="">
			Acteur : <input type="text" name="actor">
		</li>
		<li class="">
			Réalisateur : <input type="text" name="director">
		</li>
		<li class="">
			<input type="submit" name="addNewMovie" value="Ajouter film">
		</li>
	</ul>
</form>