<ul class="">
	<li class="">
		<a href="index.php?see-customers"> suprimer des clients </a>
	</li>
	<li class="">
		ajouter un client
	</li>
	<li class="">
		modifier les infos d'un client
	</li>
	<li class="">
		ajouter de nouvelles entrées catalogue
	</li>
</ul>