{% extends 'common/signed-in-menu.twig' %}
{% block menuItems %}
	<li class="">
		<a href="index.php?see-customers"> Modifier les clients </a>
	</li>
	<li class="">
		<a href="index.php?sign-up"> Ajouter un client </a>
	</li>
	<li class="">
		<a href="index.php?add-movie"> Ajouter de nouvelles entrées catalogue </a>
	</li>
{% endblock %}
