<ul class="">
	<li class="">
		suprimer des clients
	</li>
	<li class="">
		ajouter un client
	</li>
	<li class="">
		modifier les infos d'un client
	</li>
	<li class="">
		ajouter de nouvelles entrées catalogue
	</li>
</ul>