<ul class="">
	<li class="">
		<a href="index.php?see-customers"> Modifier les clients </a>
	</li>
	<li class="">
		<a href="index.php?sign-up"> Ajouter un client </a>
	</li>
	<li class="">
		Ajouter de nouvelles entrées catalogue
	</li>
</ul>