{% extends 'common/signed-in-menu.twig' %}
{% block menuItems %}
	<li class="signed-in-menu-item">
		<a href="index.php?see-customers" class="menu-link"> Modifier les clients </a>
	</li>
	<li class="signed-in-menu-item">
		<a href="index.php?sign-up" class="menu-link"> Ajouter un client </a>
	</li>
	<li class="signed-in-menu-item">
		<a href="index.php?add-movie" class="menu-link"> Ajouter de nouvelles entrées catalogue </a>
	</li>
{% endblock %}