<form name="input" action="#" method="post" id="audit-form">
	<ul class="menu-list">
		<li class="">
			Date de début : <input type="text" name="period"> (Exemple, depuis le : 2013-01-01)
		</li>
		<li class="">
			<input type="submit" name="get-audit" value="Get an Audit">
		</li>
	</ul>
</form>