{% for customer in customers %}
<ul class="">
	<li class="">
		{{ customer.lastname }}
	</li>
	<li class="">
		{{ customer.firstname }}
	</li>
	<li class="">
		<a href="index.php?remove-customer&id-customer={{ customer.id_customer }}">Supprimer utilisateur</a>
	</li>
</ul>
------------------------------------------------
{% endfor %}