{% for customer in customers %}
<ul class="">
	<li class="">
		{{ customer.lastname }}
	</li>
	<li class="">
		{{ customer.firstname }}
	</li>
	<li class="">
		<a href="">Supprimer utilisateur</a>
	</li>
</ul>
------------------------------------------------
{% endfor %}