{% for customer in customers %}
<ul class="menu-list">
	<li class="">
		{{ customer.lastname }}
	</li>
	<li class="">
		{{ customer.firstname }}
	</li>
	{% block adminManipulations %}
	{% endblock %}
</ul>
{% block customerManipulations %}
{% endblock %}
------------------------------------------------
{% endfor %}