<form name="input" action="#" method="post">
	<ul class="">
		<li class="">
			Adresse mail ou login : <input type="text" name="email">
		</li>
		<li class="">
			Mot de passe : <input type="password" name="password">
		</li>
		<li class="">
			<input type="submit" name="signIn" value="Submit">
		</li>
	</ul>
</form>