{% if connected %}
<center>
<div id="signed-in-menu-container">
<ul id="signed-in-menu-list">
	<li class="signed-in-menu-item">
		<a href="index.php?sign-out" class="menu-link"> Déconnexion </a> &#xb7;
	</li>
	
	{% block menuItems %} {% endblock %}
</ul>
</div>
</center>
{% endif %}