<div id="sign-in-form-container">
	<form name="input" action="#" method="post" id="sign-in-form">
		<ul id="sign-in-list">
			<li class="sign-in-list-elements">
				Adresse mail ou login : <input type="text" name="email">
			</li>
			<li class="sign-in-list-elements">
				Mot de passe : <input type="password" name="password">
			</li>
			<li class="sign-in-list-elements">
				<input type="submit" name="signIn" value="Submit">
			</li>
		</ul>
	</form>
</div>