<div id="sign-in-form-container">
	<form name="input" action="#" method="post" id="sign-in-form">
		<ul id="sign-in-list">
			<li class="sign-in-list-elements">
				<input type="text" name="email" placeholder="email">
			</li>
			<li class="sign-in-list-elements">
				<input type="password" name="password" placeholder="mot de passe">
			</li>
			<li class="sign-in-list-elements">
				<input type="submit" name="signIn" value="Submit">
			</li>
		</ul>
	</form>
</div>