{% extends 'common/index.twig' %}
{% block title %} Netflox is cooler with its O {% endblock %}
{% block header %} {% endblock %}

{% block body %} 
	{% if signUp %}
		{% include 'customer/sign-up-form.twig' %}
	{% else %}
		<a href="index.php?sign-up"> inscrivez-vous </a>
	{% endif %}
	{% include 'movie/search-movie.twig' %}
	{% if searchMovie %}
		{% include 'movie/show-one-movie.twig' %}
	{% endif %}
{% endblock %}

{% block footer %} {% endblock %}