{% extends 'common/index.twig' %}
{% block title %} Netflox is cooler with its O {% endblock %}
{% block header %}
	{% include 'customer/customer-menu.twig' %}
{% endblock %}

{% block body %} 
	{% if connected %}
		{% if searchMovieForm %}
			{% include 'movie/search-movie.twig' %}
		{% endif %}	
		{% if searchMovie %}
			{% include 'movie/show-one-movie.twig' %}
		{% endif %}
		{% if searchCustomerForm %}
			{% include 'customer/search-customer.twig' %}
		{% endif %}
		{% if showCustomers %}
			{% include 'customer/show-customers.twig' %}
		{% endif %}
		{% if customer %}
			{% include 'admin/update-customer-data-form.twig' %}
		{% endif %}
	{% else %}
		{% if signUp %}
			{% include 'customer/sign-up-form.twig' %}
		{% else %}
			<a href="index.php?sign-up"> inscrivez-vous </a>
		{% endif %}
	{% endif %}
{% endblock %}

{% block footer %} {% endblock %}