#entry
{
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 30px;
    background-color: rgb(153, 153, 153);
    font-family: Helvetica;
    font-size: 200%;
    color: white;
}

#o
{
	color: rgb(204,0,0);
}