body
{
	margin: 0px;
}

#body
{
	height: 80%;
	background-color: rgb(224,224,224);
}

#sign-in-form-container
{
	margin: 0px;
	float: right;
}

#sign-in-form
{

}

#sign-in-list
{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.sign-in-list-elements
{
	display: inline;
}

#signed-in-menu-container
{
}

#signed-in-menu-list
{
	margin: 0px;
}

.signed-in-menu-item
{
	display: inline;
}

.menu-link
{
	text-decoration: none;
}

.menu-list
{
	list-style-type: none;
	margin: 0px;
}